{% extends 'layouts/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block content %}
    <h1>Portafolio</h1>
    <div class="photos">
        <img src="https://picsum.photos/id/237/400/300" alt="">
        <img src="https://picsum.photos/id/237/400/300" alt="">
        <img src="https://picsum.photos/id/237/400/300" alt="">
        <img src="https://picsum.photos/id/237/400/300" alt="">
        <img src="https://picsum.photos/id/237/400/300" alt="">
        <img src="https://picsum.photos/id/237/400/300" alt="">
    </div>
    <p>Este es un ejemplo de portafolio</p>
{% endblock %}